In [4]:
import pandas as pd
pd.set_option('display.max_columns', None)                                      # see all the rows and columns completely

# ---------------------------------------------
airports         = pd.read_csv("/content/airports.csv")   
flights_2018     = pd.read_csv("/content/2008.csv")                             # data about the flights in 2018
plane_data       = pd.read_csv("/content/plane-data.csv")                       # could be useful to understand the size of the plane (estimates of the number of passengers)
var_descriptions = pd.read_csv("/content/variable-descriptions.csv")            # description of the variables of flights_2018
carriers         = pd.read_csv("/content/carriers.csv")

# ---------------------------------------------
cities_to_county = pd.read_csv("/content/uscities.csv")                         # https://simplemaps.com/data/us-cities
# iata_to_fips     = pd.read_csv("/content/T_T100D_MARKET_ALL_CARRIER.csv")
# ---------------------------------------------
counties_2020 = pd.read_csv("/content/us-counties-2020.csv")
counties_2021 = pd.read_csv("/content/us-counties-2021.csv")
counties_2022 = pd.read_csv("/content/us-counties-2022.csv")

# important note: use fips and not the name of the county. there could be duplicates in names

In [5]:
flights_2018.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,1343.0,1325,1451.0,1435,WN,588,...,4.0,9.0,0.0,NaN,0.0,16.0,0.0,0.0,0.0,0.0
1,2008,1,3,4,1125.0,1120,1247.0,1245,WN,1343,...,3.0,8.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,2009.0,2015,2136.0,2140,WN,3841,...,2.0,14.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,903.0,855,1203.0,1205,WN,3,...,5.0,7.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1423.0,1400,1726.0,1710,WN,25,...,6.0,10.0,0.0,NaN,0.0,16.0,0.0,0.0,0.0,0.0

In [6]:
# interesting variables: Origin, Dest --> origin IATA airport code, destination IATA airport code
flights_2018_v1 = flights_2018[["Origin", "Dest"]]
flights_2018_v1.head()

  Origin Dest
0    HOU  LIT
1    HOU  MAF
2    HOU  MAF
3    HOU  MCO
4    HOU  MCO

In [7]:
# the following dataset show for each air route the number on flights
flights_2018_v2 = flights_2018_v1.groupby(["Origin", "Dest"]).size().reset_index(name="Count")
flights_2018_v2.head()

  Origin Dest  Count
0    ABE  ATL    156
1    ABE  CLE    146
2    ABE  CLT     60
3    ABE  CVG     39
4    ABE  DTW     85

In [8]:
airports.head()

,iata,airport,city,state,country,lat,long
0,00M,Thigpen,Bay Springs,MS,USA,31.953765,-89.234505
1,00R,Livingston Municipal,Livingston,TX,USA,30.685861,-95.017928
2,00V,Meadow Lake,Colorado Springs,CO,USA,38.945749,-104.569893
3,01G,Perry-Warsaw,Perry,NY,USA,42.741347,-78.052081
4,01J,Hilliard Airpark,Hilliard,FL,USA,30.688012,-81.905944

In [9]:
# PROBLEM: O(N^2) COMPLEXITY... IT TAKES FOREVER --> SOLUTION: CREATE A DICTIONARY BASED ON UNIQUE VALUES

# airports X flights
# adding airport name, city, state, country, lat and long of both departure and destination to the flights_2018 dataset --> based on each iata code present in airports

flights_2018_v2["Origin_airport"] = ""
flights_2018_v2["Origin_city"] = ""
flights_2018_v2["Origin_state"] = ""
flights_2018_v2["Origin_lat"] = ""
flights_2018_v2["Origin_long"] = ""

flights_2018_v2["Dest_airport"] = ""
flights_2018_v2["Dest_city"] = ""
flights_2018_v2["Dest_state"] = ""
flights_2018_v2["Dest_lat"] = ""
flights_2018_v2["Dest_long"] = ""

flights_2018_v2.head()

for index, row in flights_2018_v2.iterrows():
  found = False
  for index1, row1 in airports.iterrows():
    if row["Origin"] == row1["iata"]:
      flights_2018_v2.Origin_airport.iloc[index] = row1["airport"]
      flights_2018_v2.Origin_city.iloc[index] = row1["city"]
      flights_2018_v2.Origin_state.iloc[index] = row1["state"]
      flights_2018_v2.Origin_lat.iloc[index] = row1["lat"]
      flights_2018_v2.Origin_long.iloc[index] = row1["long"]
      # print(flights_2018_v2.head()) # just to check the progess
      # print(index)                  # just to check the progess
      found = True
      break
  # in case the iata code is not available in the iata_city dataset
  if found == False: 
    print(row["Origin"])
    break

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [10]:
flights_2018_v2.head()

,Origin,Dest,Count,Origin_airport,Origin_city,Origin_state,Origin_lat,Origin_long,Dest_airport,Dest_city,Dest_state,Dest_lat,Dest_long
0,ABE,ATL,156,Lehigh Valley International,Allentown,PA,40.652363,-75.440402,,,,,
1,ABE,CLE,146,Lehigh Valley International,Allentown,PA,40.652363,-75.440402,,,,,
2,ABE,CLT,60,Lehigh Valley International,Allentown,PA,40.652363,-75.440402,,,,,
3,ABE,CVG,39,Lehigh Valley International,Allentown,PA,40.652363,-75.440402,,,,,
4,ABE,DTW,85,Lehigh Valley International,Allentown,PA,40.652363,-75.440402,,,,,

In [11]:
# PROBLEM: O(N^2) COMPLEXITY... IT TAKES FOREVER

# same procedure for the Dest column
for index, row in flights_2018_v2.iterrows():
  found = False
  for index1, row1 in airports.iterrows():
    if row["Dest"] == row1["iata"]:
      flights_2018_v2.Dest_airport.iloc[index] = row1["airport"]
      flights_2018_v2.Dest_city.iloc[index] = row1["city"]
      flights_2018_v2.Dest_state.iloc[index] = row1["state"]
      flights_2018_v2.Dest_lat.iloc[index] = row1["lat"]
      flights_2018_v2.Dest_long.iloc[index] = row1["long"]
      found = True
      break
  # in case the iata code is not available in the iata_city dataset
  if found == False: 
    print(row["Origin"])
    break

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [12]:
flights_2018_v2.head()

,Origin,Dest,Count,Origin_airport,Origin_city,Origin_state,Origin_lat,Origin_long,Dest_airport,Dest_city,Dest_state,Dest_lat,Dest_long
0,ABE,ATL,156,Lehigh Valley International,Allentown,PA,40.652363,-75.440402,William B Hartsfield-Atlanta Intl,Atlanta,GA,33.640444,-84.426944
1,ABE,CLE,146,Lehigh Valley International,Allentown,PA,40.652363,-75.440402,Cleveland-Hopkins Intl,Cleveland,OH,41.410894,-81.849397
2,ABE,CLT,60,Lehigh Valley International,Allentown,PA,40.652363,-75.440402,Charlotte/Douglas International,Charlotte,NC,35.214011,-80.943126
3,ABE,CVG,39,Lehigh Valley International,Allentown,PA,40.652363,-75.440402,Cincinnati Northern Kentucky Intl,Covington,KY,39.046143,-84.662172
4,ABE,DTW,85,Lehigh Valley International,Allentown,PA,40.652363,-75.440402,Detroit Metropolitan-Wayne County,Detroit,MI,42.212059,-83.348836

In [13]:
# PROBLEM: based on the city add the county of departure and the one of arrival --> more county could have cities sharing the name
# CHANGE: O(N^2) COMPLEXITY... IT TAKES FOREVER

# # note: in a state no city has the same name

# cities_to_county.head()
# cities_to_county_v1 = cities_to_county[["city_ascii", "state_id", "county_fips", "county_name"]]
# cities_to_county_v1.head()


# flights_2018_v2["Origin_county_fips"] = ""
# flights_2018_v2["Origin_county_name"] = ""

# flights_2018_v2["Dest_county_fips"] = ""
# flights_2018_v2["Dest_county_name"] = ""

# flights_2018_v2.head()

# for index, row in flights_2018_v2.iterrows():
#   found = False
#   for index1, row1 in cities_to_county_v1.iterrows():
#     if row["Origin_state"] == row1["state_id"] and row["Origin_city"] == row1["city_ascii"]:
#       found = True
#       flights_2018_v2.Origin_county_fips.iloc[index] = row1["county_fips"]
#       flights_2018_v2.Origin_county_name.iloc[index] = row1["county_name"]
#       break
#   if found == False:
#     print("a) \n",
#           row)

# flights_2018_v2.head()

# flights_2018_v3 = flights_2018_v2.groupby(["Origin_county_fips", "Dest_county_fips"]).size().reset_index(name="Count")
# flights_2018_v3.head()

In [17]:
# finding county fips based on the following API
# attempt using https://geo.fcc.gov/api/census/#!/block/get_block_find API

# idea for implementaion
# https://colab.research.google.com/github/nestauk/im-tutorials/blob/3-ysi-tutorial/notebooks/APIs/API_tutorial.ipynb#scrollTo=O_4T8cKVNjmh

# request to the API
# https://geo.fcc.gov/api/census/block/find?latitude=31.953765&longitude=-89.234505&censusYear=2020&format=xml

# other utilities
# df = pd.read_json(filename)

# read json from link url

# import requests  # Import the requests library

# # Query URL
# url = ('http://ec.europa.eu/eurostat/wdds/rest/data/v2.1/json/en'
#        '/nama_10_gdp?precision=1'
#        '&unit=CLV05_MEUR'  # Unit: CLV (2005) Million EUR
#        '&geo=NL&geo=DE'  # Country: Netherlands, Germany
#        '&time=2010&time=2011&time=2012'  # Years: 2010, 2011, 2012
#        '&na_item=B1GQ&na_item=D21'  # GDP (market prices) & taxes on products
#        )
# # Some api's will have nicer syntax like:
# # `&time=2010..2012` or `&na_item=B1GQ,D21`
# print(url)

# response = requests.get(url)  # Make a GET request to the URL

# # Print status code (and associated text)
# print(f"Request returned {response.status_code} : '{response.reason}'")

# # Print data returned (parsing as JSON)
# payload = response.json()  # Parse `response.text` into JSON


# import pprint
# pp = pprint.PrettyPrinter(indent=1)
# pp.pprint(payload)
# # NOTE: Could use print(response.json()) but this wouldn't be formatted nicely

# ------------------------------------------------------------------------------

import requests  # Import the requests library
import io
import json

def latlong_to_fips(lat,long):

  url = ("https://geo.fcc.gov/api/census/block/find?latitude="
         f"{lat}"
         "&longitude="
         f"{long}"
         "&censusYear=2010&format=xml")
  response = requests.get(url)
  # print(f"Request returned {response.status_code} : '{response.reason}'")
  # print(response.text)
  # print(type(response.text))

  text = response.text

  t = text.split("><")
  # t

  for el in t:
    if el[:11] == "County FIPS":
      el = el.split()
      el = el[1].split('"')
      el = el[1]
      return el

In [19]:
unique_iata = {}

# dict: iata coord

for index, row in flights_2018_v2.iterrows():
  if flights_2018_v2.Origin.iloc[index] not in unique_iata:
    fips = latlong_to_fips(flights_2018_v2.Origin_lat.iloc[index],flights_2018_v2.Origin_long.iloc[index])
    unique_iata[flights_2018_v2.Origin.iloc[index]] = [flights_2018_v2.Origin_lat.iloc[index], flights_2018_v2.Origin_long.iloc[index], fips]

unique_iata

{'ABE': [40.65236278, -75.44040167, '42077'],
 'ABI': [32.41132, -99.68189722, '48441'],
 'ABQ': [35.04022222, -106.6091944, '35001'],
 'ABY': [31.535515, -84.19447333, '13095'],
 'ACT': [31.61128833, -97.23051917, '48309'],
 'ACV': [40.97811528, -124.1086189, '06023'],
 'ACY': [39.45758333, -74.57716667, '34001'],
 'ADK': [51.87796389, -176.6460306, '02016'],
 'ADQ': [57.74996778, -152.4938553, '02150'],
 'AEX': [31.32737167, -92.54855611, '22079'],
 'AGS': [33.369955, -81.96449611, '13245'],
 'ALB': [42.74811944, -73.80297861, '36001'],
 'ALO': [42.55708139, -92.40034361, '19013'],
 'AMA': [35.2193725, -101.7059272, '48375'],
 'ANC': [61.17432028, -149.9961856, '02020'],
 'ASE': [39.22316, -106.868845, '08097'],
 'ATL': [33.64044444, -84.42694444, '13063'],
 'ATW': [44.25740806, -88.51947556, '55087'],
 'AUS': [30.19453278, -97.66987194, '48453'],
 'AVL': [35.43619444, -82.54180556, '37021'],
 'AVP': [41.33814944, -75.7242675, '42079'],
 'AZO': [42.234875, -85.5520575, '26077'],
 'BDL': [41.93887417, -72.68322833, '09003'],
 'BET': [60.77977639, -161.8379975, '02050'],
 'BFL': [35.43359806, -119.0567681, '06029'],
 'BGM': [42.20848278, -75.97961361, '36007'],
 'BGR': [44.80744444, -68.82813889, '23019'],
 'BHM': [33.56294306, -86.75354972, '01073'],
 'BIL': [45.8076625, -108.5428611, '30111'],
 'BIS': [46.77411111, -100.7467222, '38015'],
 'BLI': [48.79275, -122.5375278, '53073'],
 'BMI': [40.47798556, -88.91595278, '17113'],
 'BNA': [36.12447667, -86.67818222, '47037'],
 'BOI': [43.56444444, -116.2227778, '16001'],
 'BOS': [42.3643475, -71.00517917, '25025'],
 'BPT': [29.95083333, -94.02069444, '48245'],
 'BQK': [31.25902778, -81.46630556, '13127'],
 'BQN': [18.49486111, -67.12944444, '72005'],
 'BRO': [25.90683333, -97.42586111, '48061'],
 'BRW': [71.2854475, -156.7660019, '02185'],
 'BTM': [45.95479528, -112.49746, '30093'],
 'BTR': [30.53316083, -91.14963444, '22033'],
 'BTV': [44.47300361, -73.1503125, '50007'],
 'BUF': [42.94052472, -78.73216667, '36029'],
 'BUR': [34.20061917, -118.3584969, '06037'],
 'BWI': [39.17540167, -76.66819833, '24003'],
 'BZN': [45.77690139, -111.1530072, '30031'],
 'CAE': [33.93884, -81.11953944, '45063'],
 'CAK': [40.91631194, -81.44246556, '39153'],
 'CDC': [37.70097028, -113.098575, '49021'],
 'CDV': [60.49183389, -145.4776503, '02261'],
 'CEC': [41.78015722, -124.2365333, '06015'],
 'CHA': [35.03526833, -85.20378778, '47065'],
 'CHO': [38.13863889, -78.45286111, '51003'],
 'CHS': [32.89864639, -80.04050583, '45019'],
 'CIC': [39.79538278, -121.8584231, '06007'],
 'CID': [41.88458833, -91.71087222, '19113'],
 'CLD': [33.127231, -117.278727, '06073'],
 'CLE': [41.41089417, -81.84939667, '39035'],
 'CLL': [30.58858944, -96.36382417, '48041'],
 'CLT': [35.21401111, -80.94312583, '37119'],
 'CMH': [39.99798528, -82.89188278, '39049'],
 'CMI': [40.03925, -88.27805556, '17019'],
 'CMX': [47.16841722, -88.48906083, '26061'],
 'COD': [44.52019417, -109.0237961, '56029'],
 'COS': [38.80580556, -104.70025, '08041'],
 'CPR': [42.90835556, -106.4644661, '56025'],
 'CRP': [27.77036083, -97.50121528, '48355'],
 'CRW': [38.37315083, -81.59318972, '54039'],
 'CSG': [32.51633333, -84.93886111, '13215'],
 'CVG': [39.04614278, -84.6621725, '21015'],
 'CWA': [44.77761917, -89.66677944, '55073'],
 'DAB': [29.17991667, -81.05805556, '12127'],
 'DAL': [32.84711389, -96.85177222, '48113'],
 'DAY': [39.90237583, -84.219375, '39113'],
 'DBQ': [42.40295944, -90.70916722, '19061'],
 'DCA': [38.85208333, -77.03772222, '51013'],
 'DEN': [39.85840806, -104.6670019, '08031'],
 'DFW': [32.89595056, -97.0372, '48439'],
 'DHN': [31.32133917, -85.44962889, '01045'],
 'DLH': [46.84209028, -92.19364861, '27137'],
 'DRO': [37.15151667, -107.7537692, '08067'],
 'DSM': [41.53493306, -93.66068222, '19153'],
 'DTW': [42.21205889, -83.34883583, '26163'],
 'EGE': [39.64256778, -106.9176953, '08037'],
 'EKO': [40.82492611, -115.7916964, '32007'],
 'ELM': [42.15991361, -76.89144333, '36015'],
 'ELP': [31.80666667, -106.3778056, '48141'],
 'ERI': [42.08202139, -80.17621556, '42049'],
 'EUG': [44.12326, -123.2186856, '41039'],
 'EVV': [38.03799139, -87.53062667, '18163'],
 'EWN': [35.07297222, -77.04294444, '37049'],
 'EWR': [40.69249722, -74.16866056, '34013'],
 'EYW': [24.55611111, -81.75955556, '12087'],
 'FAI': [64.8136775, -147.8596694, '02090'],
 'FAR': [46.91934889, -96.81498889, '38017'],
 'FAT': [36.77619444, -119.7181389, '06019'],
 'FAY': [34.99147222, -78.88, '37051'],
 'FCA': [48.31140472, -114.2550694, '30029'],
 'FLG': [35.13845472, -111.6712183, '04005'],
 'FLL': [26.07258333, -80.15275, '12011'],
 'FLO': [34.18536111, -79.72388889, '45041'],
 'FNT': [42.96550333, -83.74345639, '26049'],
 'FSD': [43.58135111, -96.74170028, '46099'],
 'FSM': [35.33659028, -94.36744111, '05131'],
 'FWA': [40.97846583, -85.19514639, '18003'],
 'GEG': [47.61985556, -117.5338425, '53063'],
 'GFK': [47.949255, -97.17611111, '38035'],
 'GGG': [32.38486111, -94.71171, '48183'],
 'GJT': [39.1224125, -108.5267347, '08077'],
 'GNV': [29.69005556, -82.27177778, '12001'],
 'GPT': [30.40728028, -89.07009278, '28047'],
 'GRB': [44.48507333, -88.12959, '55009'],
 'GRK': [31.06489778, -97.82779778, '48027'],
 'GRR': [42.88081972, -85.52276778, '26081'],
 'GSO': [36.09774694, -79.9372975, '37081'],
 'GSP': [34.89566722, -82.21885833, '45083'],
 'GTF': [47.48200194, -111.3706853, '30013'],
 'GTR': [33.45033444, -88.59136861, '28087'],
 'GUC': [38.53396333, -106.9331817, '08051'],
 'HDN': [40.48118028, -107.2176597, '08107'],
 'HHH': [32.224384, -80.697629, '45013'],
 'HLN': [46.60681806, -111.9827503, '30049'],
 'HNL': [21.31869111, -157.9224072, '15003'],
 'HOU': [29.64541861, -95.27888889, '48201'],
 'HPN': [41.06695778, -73.70757444, '36119'],
 'HRL': [26.22850611, -97.65439389, '48061'],
 'HSV': [34.6404475, -86.77310944, '01089'],
 'IAD': [38.94453194, -77.45580972, '51107'],
 'IAH': [29.98047222, -95.33972222, '48201'],
 'ICT': [37.64995889, -97.43304583, '20173'],
 'IDA': [43.51455556, -112.0701667, '16019'],
 'ILM': [34.27061111, -77.90255556, '37129'],
 'IND': [39.71732917, -86.29438417, '18097'],
 'IPL': [32.83422028, -115.5787456, '06025'],
 'ISP': [40.7952425, -73.10021194, '36103'],
 'ITO': [19.72026306, -155.0484703, '15001'],
 'IYK': [35.65884306, -117.8295122, '06029'],
 'JAC': [43.60732417, -110.7377389, '56039'],
 'JAN': [32.31116667, -90.07588889, '28121'],
 'JAX': [30.49405556, -81.68786111, '12031'],
 'JFK': [40.63975111, -73.77892556, '36081'],
 'JNU': [58.35496194, -134.5762764, '02110'],
 'KOA': [19.73876583, -156.0456314, '15001'],
 'KTN': [55.35556861, -131.71374, '02130'],
 'LAN': [42.7787, -84.58735806, '26037'],
 'LAS': [36.08036111, -115.1523333, '32003'],
 'LAW': [34.56771444, -98.41663667, '40031'],
 'LAX': [33.94253611, -118.4080744, '06037'],
 'LBB': [33.66363889, -101.8227778, '48303'],
 'LCH': [30.1260975, -93.22340361, '22019'],
 'LEX': [38.03697222, -84.60538889, '21067'],
 'LFT': [30.20527972, -91.987655, '22055'],
 'LGA': [40.77724306, -73.87260917, '36081'],
 'LGB': [33.81772222, -118.1516111, '06037'],
 'LIH': [21.97598306, -159.3389581, '15007'],
 'LIT': [34.72939611, -92.22424556, '05119'],
 'LNK': [40.85097222, -96.75925, '31109'],
 'LRD': [27.54373861, -99.46154361, '48479'],
 'LSE': [43.87937972, -91.25653778, '55063'],
 'LWS': [46.37449806, -117.0153944, '16069'],
 'LYH': [37.32668528, -79.20043056, '51031'],
 'MAF': [31.94252778, -102.2019139, '48329'],
 'MBS': [43.53291472, -84.07964722, '26145'],
 'MCI': [39.29760528, -94.71390556, '29165'],
 'MCN': [32.69284944, -83.64921083, '13021'],
 'MCO': [28.42888889, -81.31602778, '12095'],
 'MDT': [40.19349528, -76.76340361, '42043'],
 'MDW': [41.7859825, -87.75242444, '17031'],
 'MEI': [32.33313333, -88.75120556, '28075'],
 'MEM': [35.04241667, -89.97666667, '47157'],
 'MFE': [26.17583333, -98.23861111, '48215'],
 'MFR': [42.37422778, -122.8734978, '41029'],
 'MGM': [32.30064417, -86.39397611, '01101'],
 'MHT': [42.93451639, -71.43705583, '33011'],
 'MIA': [25.79325, -80.29055556, '12086'],
 'MKE': [42.94722222, -87.89658333, '55079'],
 'MLB': [28.10275, -80.64580556, '12009'],
 'MLI': [41.44852639, -90.50753917, '17161'],
 'MLU': [32.51086556, -92.03768778, '22073'],
 'MOB': [30.69141667, -88.24283333, '01097'],
 'MOD': [37.62581722, -120.9544214, '06099'],
 'MOT': [48.25937778, -101.2803339, '38101'],
 'MQT': [46.353639, -87.395361, '26103'],
 'MRY': [36.5869825, -121.8429478, '06053'],
 'MSN': [43.13985778, -89.33751361, '55025'],
 'MSO': [46.91630556, -114.0905556, '30063'],
 'MSP': [44.88054694, -93.2169225, '27053'],
 'MSY': [29.99338889, -90.25802778, '22051'],
 'MTJ': [38.50886722, -107.8938333, '08085'],
 'MYR': [33.67975, -78.92833333, '45051'],
 'OAJ': [34.82916444, -77.61213778, '37133'],
 'OAK': [37.72129083, -122.2207167, '06001'],
 'OGG': [20.89864972, -156.4304578, '15009'],
 'OKC': [35.39308833, -97.60073389, '40109'],
 'OMA': [41.30251861, -95.89417306, '31055'],
 'OME': [64.51220222, -165.4452458, '02180'],
 'ONT': [34.056, -117.6011944, '06071'],
 'ORD': [41.979595, -87.90446417, '17031'],
 'ORF': [36.89461111, -76.20122222, '51710'],
 'OTZ': [66.88467694, -162.5985497, '02188'],
 'OXR': [34.20080083, -119.2072164, '06111'],
 'PBI': [26.68316194, -80.09559417, '12099'],
 'PDX': [45.58872222, -122.5975, '41051'],
 'PFN': [30.21208333, -85.68280556, '12005'],
 'PHF': [37.13189556, -76.4929875, '51700'],
 'PHL': [39.87195278, -75.24114083, '42045'],
 'PHX': [33.43416667, -112.0080556, '04013'],
 'PIA': [40.66424333, -89.69330556, '17143'],
 'PIH': [42.91130556, -112.5958611, '16077'],
 'PIT': [40.49146583, -80.23287083, '42003'],
 'PLN': [45.5709275, -84.796715, '26047'],
 'PMD': [34.62938889, -118.0845528, '06037'],
 'PNS': [30.47330556, -87.18744444, '12033'],
 'PSC': [46.26468028, -119.1190292, '53021'],
 'PSE': [18.00830278, -66.56301194, '72113'],
 'PSG': [56.80165194, -132.9452781, '02195'],
 'PSP': [33.82921556, -116.5062531, '06065'],
 'PVD': [41.72399917, -71.42822111, '44003'],
 'PWM': [43.64616667, -70.30875, '23005'],
 'RAP': [44.04532139, -103.0573708, '46103'],
 'RDD': [40.50898361, -122.2934019, '06089'],
 'RDM': [44.25406722, -121.1499633, '41017'],
 'RDU': [35.87763889, -78.78747222, '37183'],
 'RFD': [42.19536389, -89.09721111, '17201'],
 'RHI': [45.63119306, -89.46745361, '55085'],
 'RIC': [37.50516667, -77.31966667, '51087'],
 'RNO': [39.49857611, -119.7680647, '32031'],
 'ROA': [37.32546833, -79.97542833, '51770'],
 'ROC': [43.11886611, -77.67238389, '36055'],
 'ROW': [33.30155556, -104.5305556, '35005'],
 'RST': [43.90882639, -92.49798722, '27109'],
 'RSW': [26.53616667, -81.75516667, '12071'],
 'SAN': [32.73355611, -117.1896567, '06073'],
 'SAT': [29.53369444, -98.46977778, '48029'],
 'SAV': [32.12758333, -81.20213889, '13051'],
 'SBA': [34.42621194, -119.8403733, '06083'],
 'SBN': [41.70895361, -86.31847417, '18141'],
 'SBP': [35.23705806, -120.6423931, '06079'],
 'SCC': [70.19475583, -148.4651608, '02185'],
 'SCE': [40.851206, -77.846302, '42027'],
 'SDF': [38.17438889, -85.736, '21111'],
 'SEA': [47.44898194, -122.3093131, '53033'],
 'SFO': [37.61900194, -122.3748433, '06081'],
 'SGF': [37.24432611, -93.38685806, '29077'],
 'SGU': [37.09058333, -113.5930556, '49053'],
 'SHV': [32.4466275, -93.82559833, '22017'],
 'SIT': [57.04713806, -135.3615983, '02220'],
 'SJC': [37.36186194, -121.9290089, '06085'],
 'SJT': [31.35775, -100.4963056, '48451'],
 'SJU': [18.43941667, -66.00183333, '72031'],
 'SLC': [40.78838778, -111.9777731, '49035'],
 'SLE': [44.90952778, -123.0025, '41047'],
 'SMF': [38.69542167, -121.5907669, '06067'],
 'SMX': [34.89924833, -120.4575825, '06083'],
 'SNA': [33.67565861, -117.8682225, '06059'],
 'SPI': [39.84395194, -89.67761861, '17167'],
 'SPS': [33.98879611, -98.49189333, '48485'],
 'SRQ': [27.39533333, -82.55411111, '12081'],
 'STL': [38.74768694, -90.35998972, '29189'],
 'STT': [18.33730556, -64.97336111, '78030'],
 'STX': [17.70188889, -64.79855556, '78010'],
 'SUN': [43.50484139, -114.2965903, '16013'],
 'SUX': [42.40260333, -96.38436694, '19193'],
 'SWF': [41.50409361, -74.10483833, '36071'],
 'SYR': [43.11118694, -76.10631056, '36067'],
 'TEX': [37.95375861, -107.90848, '08113'],
 'TLH': [30.39652778, -84.35033333, '12073'],
 'TOL': [41.58680556, -83.80783333, '39095'],
 'TPA': [27.97547222, -82.53325, '12057'],
 'TRI': [36.47521417, -82.40742056, '47163'],
 'TUL': [36.19837222, -95.88824167, '40143'],
 'TUP': [34.26810833, -88.769895, '28081'],
 'TUS': [32.11608333, -110.9410278, '04019'],
 'TVC': [44.74144472, -85.582235, '26055'],
 'TWF': [42.48180389, -114.4877356, '16083'],
 'TXK': [33.45370806, -93.99102, '05091'],
 'TYR': [32.35413889, -95.40238611, '48423'],
 'TYS': [35.81248722, -83.99285583, '47009'],
 'VLD': [30.7825, -83.27672222, '13185'],
 'VPS': [30.48325, -86.5254, '12091'],
 'WRG': [56.48432583, -132.3698242, '02275'],
 'XNA': [36.28186944, -94.30681111, '05007'],
 'YAK': [59.50336056, -139.6602261, '02282'],
 'YKM': [46.56816972, -120.5440594, '53077'],
 'YUM': [32.65658333, -114.6059722, '04027']}

In [20]:
for index, row in flights_2018_v2.iterrows():
  if flights_2018_v2.Dest.iloc[index] not in unique_iata:
    fips = latlong_to_fips(flights_2018_v2.Dest_lat.iloc[index],flights_2018_v2.Dest_long.iloc[index])
    unique_iata[flights_2018_v2.Dest.iloc[index]] = [flights_2018_v2.Dest_lat.iloc[index], flights_2018_v2.Dest_long.iloc[index], fips]

In [21]:
flights_2018_v2["Origin_county_fips"] = ""
flights_2018_v2["Dest_county_fips"] = ""

for index, row in flights_2018_v2.iterrows():
    flights_2018_v2.Origin_county_fips.iloc[index] = unique_iata[flights_2018_v2.Origin.iloc[index]][2]
    flights_2018_v2.Dest_county_fips.iloc[index] = unique_iata[flights_2018_v2.Dest.iloc[index]][2]

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [22]:
flights_2018_v2.head()

,Origin,Dest,Count,Origin_airport,Origin_city,Origin_state,Origin_lat,Origin_long,Dest_airport,Dest_city,Dest_state,Dest_lat,Dest_long,Origin_county_fips,Dest_county_fips
0,ABE,ATL,156,Lehigh Valley International,Allentown,PA,40.652363,-75.440402,William B Hartsfield-Atlanta Intl,Atlanta,GA,33.640444,-84.426944,42077,13063
1,ABE,CLE,146,Lehigh Valley International,Allentown,PA,40.652363,-75.440402,Cleveland-Hopkins Intl,Cleveland,OH,41.410894,-81.849397,42077,39035
2,ABE,CLT,60,Lehigh Valley International,Allentown,PA,40.652363,-75.440402,Charlotte/Douglas International,Charlotte,NC,35.214011,-80.943126,42077,37119
3,ABE,CVG,39,Lehigh Valley International,Allentown,PA,40.652363,-75.440402,Cincinnati Northern Kentucky Intl,Covington,KY,39.046143,-84.662172,42077,21015
4,ABE,DTW,85,Lehigh Valley International,Allentown,PA,40.652363,-75.440402,Detroit Metropolitan-Wayne County,Detroit,MI,42.212059,-83.348836,42077,26163

In [28]:
flights_2018_v2["fips_to_fips"] = ""

for index, row in flights_2018_v2.iterrows():
    flights_2018_v2.fips_to_fips.iloc[index] = f"{flights_2018_v2.Origin_county_fips.iloc[index]}->{flights_2018_v2.Dest_county_fips.iloc[index]}"

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [85]:
flights_2018_v3 = flights_2018_v2.groupby("fips_to_fips").sum("Count")
flights_2018_v3

              Count
fips_to_fips
01045->13063    228
01073->04013     60
01073->08031    115
01073->12031     60
01073->12057    180
...             ...
78030->34013     31
78030->36081     45
78030->37119     75
78030->42045     62
78030->72031     97

[4463 rows x 1 columns]

In [86]:
# e.g. add to the ATL set the ABE county iff the number of flights from ABE to ATL is higher than a given threshold
flights_2018_v3.describe()

             Count
count  4463.000000
mean    211.237957
std     273.452451
min       1.000000
25%      60.000000
50%     120.000000
75%     263.000000
max    2991.000000

In [87]:
# ordering
flights_2018_v3 = flights_2018_v3.sort_values(by=['Count'])
flights_2018_v3.head()

              Count
fips_to_fips
08031->05119      1
23019->50007      1
56025->16077      1
55087->55079      1
55087->45019      1

In [88]:
# adjancents counties
# 12 per set 
# 3200 counties

percentile_75 = int(flights_2018_v3.Count.quantile(0.75)) # 75th percentile: 263 flights

count = 0

for index, row in flights_2018_v3.iterrows():
  if int(row.Count) > percentile_75:
    count +=1

In [89]:
# number of "adjacent" counties
count

1111

In [90]:
flights_2018_v3 = flights_2018_v3.reset_index()

In [92]:
flights_2018_v3 = flights_2018_v3.loc[flights_2018_v3['Count'] > percentile_75]
flights_2018_v3["origin_fips"] = ""
flights_2018_v3["dest_fips"]   = ""

for index, row in flights_2018_v3.iterrows():
  flights_2018_v3.origin_fips.loc[index] = flights_2018_v3.fips_to_fips.loc[index].split("->")[0]
  flights_2018_v3.dest_fips.loc[index]   = flights_2018_v3.fips_to_fips.loc[index].split("->")[1]

flights_2018_v3.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

      fips_to_fips  Count origin_fips dest_fips
3352  42045->48201    264       42045     48201
3353  18097->12095    264       18097     12095
3354  26163->48201    265       26163     48201
3355  48201->26163    265       48201     26163
3356  36081->29189    265       36081     29189

In [97]:
# flights_2018_v3 = flights_2018_v3.drop("fips_to_fips", axis = 1)
flights_2018_v3.columns = ['number_flights', 'origin_fips', 'dest_fips']

flights_2018_v3.head()

      number_flights origin_fips dest_fips
3352             264       42045     48201
3353             264       18097     12095
3354             265       26163     48201
3355             265       48201     26163
3356             265       36081     29189

In [98]:
flights_2018_v3.to_csv(r'/content/air_mobility.csv', index = False)