In [2]:
import pandas as pd
from datetime import datetime

path = "/content/"  # THIS LINE NEEDS TO BE CHANGED BASED ON THE PATH OF THE FILES TO RETRIEVE

# Import needed CSV for the dataset inlducing cases for day for fips
final_2020 = pd.read_csv(f"{path}final_df_2020.csv")
final_2021 = pd.read_csv(f"{path}final_df_2021.csv")
final_2022 = pd.read_csv(f"{path}final_df_2022.csv")

# Extrate information from dataframe and create a new dataframe with
# column = FIPS and row = Cases per Date
db = {}
for index, row in final_2020.iterrows():
  date = datetime.strptime(row['Date'], '%Y-%m-%d')
  db[(date, (row['FIPS']))] = row['Cases']
for index, row in final_2021.iterrows():
  date = datetime.strptime(row['Date'], '%Y-%m-%d')
  db[(date, (row['FIPS']))] = row['Cases']
for index, row in final_2022.iterrows():
  date = datetime.strptime(row['Date'], '%Y-%m-%d')
  db[(date, (row['FIPS']))] = row['Cases']

df_cases = pd.DataFrame(db.values(), index=pd.MultiIndex.from_tuples(db.keys())).unstack(1).fillna(0)[0]

In [3]:
df_cases

,1001,1003,1005,1007,1009,1011,1013,1015,1017,1019,...,72141,72143,72145,72147,72149,72151,72153,78010,78020,78030
2020-01-21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-07,15742.0,55468.0,5658.0,6421.0,14926.0,2304.0,5052.0,32355.0,8471.0,5114.0,...,3322.0,6110.0,10231.0,713.0,2965.0,4284.0,4238.0,7751.0,783.0,7206.0
2022-04-08,15744.0,55489.0,5658.0,6422.0,14929.0,2304.0,5052.0,32355.0,8471.0,5115.0,...,3329.0,6115.0,10239.0,713.0,2968.0,4294.0,4240.0,7759.0,786.0,7219.0
2022-04-09,15744.0,55489.0,5658.0,6422.0,14929.0,2304.0,5052.0,32355.0,8471.0,5115.0,...,3333.0,6120.0,10242.0,713.0,2972.0,4309.0,4240.0,7759.0,786.0,7219.0
2022-04-10,15744.0,55489.0,5658.0,6422.0,14929.0,2304.0,5052.0,32355.0,8471.0,5115.0,...,3336.0,6129.0,10272.0,713.0,2983.0,4322.0,4257.0,7759.0,786.0,7219.0
2022-04-11,15747.0,55499.0,5658.0,6425.0,14934.0,2303.0,5052.0,32359.0,8474.0,5116.0,...,3337.0,6135.0,10275.0,713.0,2983.0,4329.0,4263.0,7759.0,786.0,7219.0

In [4]:
cases = df_cases.to_numpy()
cases

array([[    0.,     0.,     0., ...,     0.,     0.,     0.],
       [    0.,     0.,     0., ...,     0.,     0.,     0.],
       [    0.,     0.,     0., ...,     0.,     0.,     0.],
       ...,
       [15744., 55489.,  5658., ...,  7759.,   786.,  7219.],
       [15744., 55489.,  5658., ...,  7759.,   786.,  7219.],
       [15747., 55499.,  5658., ...,  7759.,   786.,  7219.]])

In [5]:
cases.shape

(812, 3220)

In [6]:
cases[1:,:]

array([[    0.,     0.,     0., ...,     0.,     0.,     0.],
       [    0.,     0.,     0., ...,     0.,     0.,     0.],
       [    0.,     0.,     0., ...,     0.,     0.,     0.],
       ...,
       [15744., 55489.,  5658., ...,  7759.,   786.,  7219.],
       [15744., 55489.,  5658., ...,  7759.,   786.,  7219.],
       [15747., 55499.,  5658., ...,  7759.,   786.,  7219.]])

In [7]:
cases[:-1,:]

array([[    0.,     0.,     0., ...,     0.,     0.,     0.],
       [    0.,     0.,     0., ...,     0.,     0.,     0.],
       [    0.,     0.,     0., ...,     0.,     0.,     0.],
       ...,
       [15744., 55489.,  5658., ...,  7759.,   786.,  7219.],
       [15744., 55489.,  5658., ...,  7759.,   786.,  7219.],
       [15744., 55489.,  5658., ...,  7759.,   786.,  7219.]])

In [8]:
# PREVIOUS CASES: the difference of cases between a day and the next is zero. 
# We predict to have the same number of cases in t w.r.t. t-1
real_cases    = cases[1:,:]
prev_day_pred = cases[:-1,:]

In [9]:
real_cases

array([[    0.,     0.,     0., ...,     0.,     0.,     0.],
       [    0.,     0.,     0., ...,     0.,     0.,     0.],
       [    0.,     0.,     0., ...,     0.,     0.,     0.],
       ...,
       [15744., 55489.,  5658., ...,  7759.,   786.,  7219.],
       [15744., 55489.,  5658., ...,  7759.,   786.,  7219.],
       [15747., 55499.,  5658., ...,  7759.,   786.,  7219.]])

In [10]:
prev_day_pred

array([[    0.,     0.,     0., ...,     0.,     0.,     0.],
       [    0.,     0.,     0., ...,     0.,     0.,     0.],
       [    0.,     0.,     0., ...,     0.,     0.,     0.],
       ...,
       [15744., 55489.,  5658., ...,  7759.,   786.,  7219.],
       [15744., 55489.,  5658., ...,  7759.,   786.,  7219.],
       [15744., 55489.,  5658., ...,  7759.,   786.,  7219.]])

In [11]:
prev_day_pred.shape

(811, 3220)

In [12]:
real_cases.shape

(811, 3220)

In [13]:
n = prev_day_pred.shape[0]*prev_day_pred.shape[1]


import numpy as np

def mape(y_hat, y):
    return 100 * np.abs((y_hat - y) / (y + 5e-8)).mean()

def mape2(y_hat, y, n):
  return 100*np.sum((np.abs((y - y_hat)/(y + 5e-8))))/n

def mae(y_hat, y):
  return np.abs(y_hat - y).mean()

In [14]:
from sklearn.metrics import mean_absolute_percentage_error

print(mape(prev_day_pred, real_cases),
mape2(prev_day_pred, real_cases, n),
mean_absolute_percentage_error(real_cases, prev_day_pred))

12255.0133334102 12255.0133334102 27593261152.15392

In [15]:
np.unique(real_cases - prev_day_pred)

array([-18817., -17808.,  -7221., ...,  93321.,  99926., 110441.])

In [16]:
print(mae(real_cases, prev_day_pred))

29.941452543060862

In [17]:
# PREVIOUS DELTA: we predict that the delta in the number of cases will be the same as the delta from the previous day. 
cur_day  = cases[1:,:]
prev_day = cases[:-1,:]
delta = cur_day - prev_day

In [18]:
cases

array([[    0.,     0.,     0., ...,     0.,     0.,     0.],
       [    0.,     0.,     0., ...,     0.,     0.,     0.],
       [    0.,     0.,     0., ...,     0.,     0.,     0.],
       ...,
       [15744., 55489.,  5658., ...,  7759.,   786.,  7219.],
       [15744., 55489.,  5658., ...,  7759.,   786.,  7219.],
       [15747., 55499.,  5658., ...,  7759.,   786.,  7219.]])

In [19]:
cur_day

array([[    0.,     0.,     0., ...,     0.,     0.,     0.],
       [    0.,     0.,     0., ...,     0.,     0.,     0.],
       [    0.,     0.,     0., ...,     0.,     0.,     0.],
       ...,
       [15744., 55489.,  5658., ...,  7759.,   786.,  7219.],
       [15744., 55489.,  5658., ...,  7759.,   786.,  7219.],
       [15747., 55499.,  5658., ...,  7759.,   786.,  7219.]])

In [20]:
prev_day

array([[    0.,     0.,     0., ...,     0.,     0.,     0.],
       [    0.,     0.,     0., ...,     0.,     0.,     0.],
       [    0.,     0.,     0., ...,     0.,     0.,     0.],
       ...,
       [15744., 55489.,  5658., ...,  7759.,   786.,  7219.],
       [15744., 55489.,  5658., ...,  7759.,   786.,  7219.],
       [15744., 55489.,  5658., ...,  7759.,   786.,  7219.]])

In [22]:
delta = cur_day - prev_day
delta

array([[ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 3., 10.,  0., ...,  0.,  0.,  0.]])

In [33]:
next_day_pred = cur_day + delta
next_day_pred = next_day_pred[:-1,:]
next_day_pred

array([[    0.,     0.,     0., ...,     0.,     0.,     0.],
       [    0.,     0.,     0., ...,     0.,     0.,     0.],
       [    0.,     0.,     0., ...,     0.,     0.,     0.],
       ...,
       [15746., 55510.,  5658., ...,  7767.,   789.,  7232.],
       [15744., 55489.,  5658., ...,  7759.,   786.,  7219.],
       [15744., 55489.,  5658., ...,  7759.,   786.,  7219.]])

In [34]:
next_day_pred.shape

(810, 3220)

In [37]:
true_val = cur_day[1:, :]
true_val

array([[    0.,     0.,     0., ...,     0.,     0.,     0.],
       [    0.,     0.,     0., ...,     0.,     0.,     0.],
       [    0.,     0.,     0., ...,     0.,     0.,     0.],
       ...,
       [15744., 55489.,  5658., ...,  7759.,   786.,  7219.],
       [15744., 55489.,  5658., ...,  7759.,   786.,  7219.],
       [15747., 55499.,  5658., ...,  7759.,   786.,  7219.]])

In [38]:
true_val.shape

(810, 3220)

In [43]:
print(mape(next_day_pred, true_val),
mape2(next_day_pred, true_val, 810*3220))

24539.34807289529 24539.34807289529

In [42]:
print(mae(next_day_pred, true_val))

25.033098305344684